In [1]:
a=100

In [2]:
## Declaring and Assigning variables

age=25
height=6.1
name="Prashanth"
is_student=True


## printing the variables
print("Age:", age)
print("Height:", height)
print("Name:", name)

Age: 25
Height: 6.1
Name: Prashanth

In [3]:
## Naming Conventions

## Variable names should be descriptive

## They must start with a letter or an '_' and contains letter, number, and underscores

## Variables names case sensitive

# valid variable names

first_name = "Prashanth"
last_name = "Vadityavath"

In [4]:
# Invalid variable names

2age=30
@name= "Prashanth"

SyntaxError: invalid decimal literal (2535137144.py, line 3)

In [6]:
## Case Sensitivity

name="Prashanth"
Name="Vadityavath"

In [8]:
## Understanding Variable types

## Python is a dynamically typed language, type of variable is determined at runtime

age=25 # int
height=6.1 # float
name="Prashanth" # string
is_student=True # boolean

print(type(age)) # <class 'int'>
print(type(name)) # <class 'str'>

<class 'int'>
<class 'str'>

In [9]:
## Type  Checking and Conversion

type(height)

float

In [13]:
age=25
print(type(age))
print(age)
# Type Conversion

age_str= str(age)
print(age_str)
print(type(age_str)) # <class 'str'>

<class 'int'>
25
25
<class 'str'>

In [14]:
name= "Prashanth"
int(name)

ValueError: invalid literal for int() with base 10: 'Prashanth'

In [15]:
height= 6.11

type(height)

float

In [16]:
int(height) # 6

6

In [17]:
float(int(height)) # 6.0

6.0

In [20]:
## Dynamic Typing
## Python allows the type of variable to change as the program executes
var=10 # int
print(var,type(var))

var="1.0-basics.ipynb" # string
print(var,type(var))

var= 1.0 # float
print(var,type(var))

10 <class 'int'>
1.0-basics.ipynb <class 'str'>
1.0 <class 'float'>

In [23]:
## input

age=int(input("Enter your age: "))

print("Your age is:", age, type(age))

Your age is: 23 <class 'int'>

In [24]:
### Simple Calculator

num1= float(input("Enter first number:"))
num2= float(input("Enter second number:"))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 110.0
Difference: 2.0
Product: 3024.0
Quotient: 1.037037037037037